<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Портфолио</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">ABOUT</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">MY SKILLS</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Dmitriy </h1>
        <p class="home__subtitle">WEB-DEVELOPER, PYTHON PROGRAMMER</p>
      </section>
      <!-- Секция с рассказом о себе -->
      <section class="main__about about" id="about">
        <h2 class="about__title">ABOUT ME</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            I’m 11 years old and I’m programming in, although look for yourself below. If you want, write to me, I’ll be glad
          </p>
          <img
            class="info-block__img"
            src="../static/img/profile.png"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Секция со скиллами -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">MY SKILLS</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">I can program in Python and this site is partially written in Python.</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/telegram.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">
                I made a telegram bot, it can do a lot of things, for example, come up with a password for you or flip a coin</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">
                I created a diary for notes in html there you can create a note there and this site also contains html</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/db.png"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">I was talking about a diary in which I used db for notes and account</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/unity.png"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">I was talking about a diary in which I used db for notes and account</span>
            </li>
          </ul>
        </form>
      </section>
      <!-- Секция с формой обратной связи -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
          </label>
          <button class="form__button" type="submit">ОТПРАВИТЬ</button>
        </form>
      </section>
    </main>
    <!-- Подвал для ссылок на соц-сети -->
    <footer>
      <div class="social-links">
          <a href="https://github.com/DedMoroz000/" target="_blank"> Github</a>
          <a href="https://www.twitter.com/" target="_blank">Twitter</a>
          <a href="https://www.instagram.com/" target="_blank">Instagram</a>
          
      </div>
    </footer>
  </body>
</html>
